:root {
//FONTS
    --main-font:'Rubik', sans-serif;

//COLORS

  --white: #fff;
  --white-soft: #ffffff33;
  --dirty-white: #f5f5f5;
  --soft-blue: hsl(231, 69%, 60%);
  --soft-blue-hover: hsl(231, 48%, 42%);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsla(229, 31%, 21%, 0.98);
  --grayish-blue-transparent: rgba(17, 18, 21, 0.2);

  --color-hover: #fff;

}