.cards-container{
    display: flex;
    padding: 0 2.5rem;
    flex-wrap: wrap;
    justify-content: space-around;
}
.browser-card{
    padding: 1.3rem 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   box-shadow:0px 1px 3px 3px #ebe3e3;
   border-radius: 5px;
   margin-bottom: 2rem;
   width: 300px;
   background: radial-gradient(circle at 150px, #fff, rgb(250, 250, 250));
   height: 400px;

   &-title{
       margin: 0;
       margin-top: 2rem;
       font-size: 20px;
       font-weight: 700;
       letter-spacing: 1px;
   }
      
   &-description{
       color: var(--grayish-blue);
       font-size: 15px;
       margin-top: .3rem;
       font-weight: 300;
       letter-spacing: .4px;
   }


   &-img{
    padding-top: .6rem;
   }
}

.image-dots{
    padding: 1.3rem 0;
}